.login-form { 
    margin: 2em auto;
    > label {
        font-family: Arial, Helvetica, sans-serif;
    }
    button {
        font-family: Arial, Helvetica, sans-serif;
    }
    input {
        font-family: Arial, Helvetica, sans-serif;
    }
}