.signin-form { 
    margin: 2em auto;
    >input {
        font-family: Arial, Helvetica, sans-serif;
    }
    > label {
        font-family: Arial, Helvetica, sans-serif;
    }
    button {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #FFC700 !important;
        color: #161616 !important;
    }
    select {
        font-family: Arial, Helvetica, sans-serif;
        display: block;
            margin: 1em 0;
        >option {
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}